<link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
<div class="container">
  <div class="container-sub">
    <h1>Welcome <%= user.name %> </h1>
    <p>Thank you! See you again</p>
    <button>
      <a href="/users/logout">Logout</a>
    </button>
  </div>
</div>
