<link rel="stylesheet" href="/styles/welcome.css" type="text/css">
<div class="container">
    <header>
        <div class="flex">
            <div class="logo">
                <h2>Node</h2>
            </div>
            <div class="routes">
                <a href="/users/register">Register</a>
                <a href="/users/login">Login</a>
            </div>
        </div>
    </header>
    <main>
        <div class="flex">
            <div class="intro-left">
                <h1>Welcome to Node.js passport Authentication</h1>
            </div>
            <div class="intro-right">
                <img src="/assets/authentication.png" alt="authentication" type="image/png">
            </div>
        </div>
    </main>
</div>